@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Teko:wght@300&family=Yeon+Sung&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    font-family: 'Teko', sans-serif;
    font-family: 'Yeon Sung', cursive;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(43, 42, 42);
}

@media only screen and (max-width:600px){
    .clock{
        max-height: 300px;
        max-width: 300px;
        position: absolute;
    }
}

.container{
    position: relative;
    background: rgb(43, 42, 42);
    /* min-height: 500px; */
    border-radius: 20px;
    box-shadow: 25px 25px 75px rgba(0,0,0,0.75),
    10px 10px 70px rgba(0,0,0,0.25),
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(0,0,0,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);
    border-top-left-radius: 225px;
    border-top-right-radius: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.clock{
    position: relative;
    width: 450px;
    height: 450px;
    background:rgb(43, 42, 42);
    box-shadow: 10px 50px 70px rgba(0,0,0,0.1),
    inset 5px 5px 10px rgba(0,0,0,0.5),
    inset 5px 5px 20px rgba(255,255,255,0.2),
    inset -5px -5px 15px rgba(0,0,0,0.75);
    border-radius: 50%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock::after {
    height: 8px;
    width: 8px;
    background: rgb(43, 42, 42);
    content: '';
    position: absolute;
    border: 3px solid #fff;
    border-radius: 50%;
    z-index: 20;
}
.clock span{
    position: absolute;
    inset: 20px;
    color: #fff;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));  /* 360 / 12 = 30 deg */
}
.clock span b{
    font-size: 2em;
    opacity: 0.25;
    font-weight: 600;
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
}
.circle{
    height: 300px;
    width: 300px;
    border: 2px solid rgba(0,0,0,0.08);
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
}
.circle i{
    width: 6px;
    height: 50%;
    position: absolute;
    background: var(--clr);
    opacity: 0.75;
    transform-origin: bottom;
    transform: scaleY(0.5);
}
.circle:nth-child(1) i{
    width: 2px;
}
.circle:nth-child(2) i{
    width: 6px;
}
.circle2{
    height: 240px;
    width: 240px;
    z-index: 9;
}
.circle3{
    height: 180px;
    width: 180px;
    z-index: 8;
}
.circle::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: var(--clr);
    top: -8.5px;
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr),
    0 0 60px var(--clr);
}

/* digital clock styling */
#time{
    margin-bottom: 40px;
    display: flex;
    padding: 10px 20px;
    font-size: 2em;
    font-weight: 600;
    border: 2px solid rgba(0,0,0,0.5);
    border-radius: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset 5px 5px 20px rgba(255, 255, 255, 0.2),
    inset -5px -5px 15px rgba(0, 0, 0, 0.75);
}
#time div{
    position: relative;
    width: 60px;
    text-align: center;
    /* border: 2px solid; */
    font-weight: 600;
    color: var(--clr);
}
#time div:nth-child(1)::after, #time div:nth-child(2)::after{
    content: ':';
    right: -4px;
    position: absolute;
}

#time div:last-child{
    font-size: 0.7em;
    left: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
#time div:nth-child(1)::after, #time div:nth-child(2)::after{
    animation: animate 1s steps(1) infinite;
}
@keyframes animate{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
